[submodule "dinovit_lesionclassi_endo"]
	path = dinovit_lesionclassi_endo
	url = https://github.com/lakshminarayanan678/dinovit_lesionclassi_endo.git
[submodule "dinovit"]
	path = dinovit
	url = https://github.com/lakshminarayanan678/dinovit_lesionclassi_endo.git
